.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  font-family: Lato;
  font-weight: 100;
  font-size: 15px;
  margin: 0 auto;
  padding: 2em 1em;
  width: 700px;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.4em 0.6em;
  outline: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
input#search {
  width: 100%;
  font-size: 20px;
  text-align: center;
}

#search-wrapper {
  padding: 0.5em;
  padding-bottom: 1.5em;
}

.power, h1 {
  text-transform: uppercase;
  font-family: Montserrat;
  letter-spacing: 0.1em;
}
h1 {
  font-size: 20px;
}

.blurb {
  padding: 0.5em;
  text-align: center;
}

.legend span {
  margin: 0 1em;
}
.legend .fa {
  margin: 0 0.2em;
}

.fa-check { color: #74c174; }
.fa-times { color: #d35b4e; }

tr.header {
  font-weight: bold;
}
tr:nth-child(even) {
  background-color: #f6f6f6;
}
td {
  padding: 0.4em 0.5em;
}
